

.header{

 
  .fondo{
    background-image: url("../../assets/image/code.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 600px;
    width: 100%;
    z-index: 1;
    position: relative;
    top: -80px;

   
    }
  }       
      
    
  
